/*
* @Author: hujia
* @Date:   2018-05-06 19:05:37
* @Last Modified by:   hujia
* @Last Modified time: 2018-05-10 23:32:36
*/
.header-banner {
	width: 100%;
	max-width: 1600px;
	height: 990px;
	background-image: 
	url('../images/header_bg.png');
	background-position: center center;
}
.header-text {
	padding-top: 204px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
.header-title {
	padding-top: 204px;
	font: 62px/72px "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	color: #fff;
}
.public-container .intro {
	width: 735px;
	margin: auto;
	padding-top: 73px;
	font: 20px/32px "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	color: #84827f;
}
.header-form {
	box-sizing: border-box;	
	width: 100%;
	height: 250px;
	margin-top: 100px;
	padding-top: 56px;
	border: 1px solid #615f4d;
}
.header-form-title {
	font: 16px/28px "Helvetica Neue", Arial, sans-serif;
	text-align: center;	
	color: #f3f2f2;
}
.header-form .tips {
	padding-top: 10px;
	margin: 0;
	font: 12px Arial, sans-serif;
	text-align: center;	
	color: #82807d;	
}
.header-input {
	padding-top: 40px;
}
#user-name {
	box-sizing: border-box;	
	width: 294px;
	height: 52px;
	margin-left: 100px;
	margin-right: 30px;
	padding-left: 22px;
	border: 1px solid #59554e;
	font: 14px/26px "Helvetica Neue", Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
}
#user-password {
	box-sizing: border-box;	
	width: 294px;
	height: 52px;
	margin-right: 30px;
	padding-left: 22px;
	border: 1px solid #59554e;
	font: 14px/26px "Helvetica Neue", Arial, sans-serif;	
	background-color: rgba(255, 255, 255, 0);
	color: #6f6c65;
}
#user-img-submit {
	box-sizing: border-box;
	width: 126px;
	height: 50px;	
	border: 1px solid #fff;
	border-radius: 1px;
	font: 12px/22px sans-serif;
	background-color: #fff;
	color: #141414;
}
#user-img-submit:hover {
	cursor:pointer;
}
.func-intro {
	box-sizing: border-box;
	width: 100%;
	max-width: 1600px;
	height: 710px;
	border-bottom: 1px solid #f2f2f2;
}
.self-container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1042px;
	margin: auto;
	padding-top: 90px;
}
.func-title .subtitle {
	box-sizing: border-box;
	margin: 0 0 34px 0;
	font: 700 14px/28px Arial;
	text-align: center;	
	color: #4e4e4e;	
}
	
.func-title .title {
	width: 664px;
	margin: auto;
	font: 42px/52px "Helvetica Neue", Arial, sans-serif;		
	text-align: center;
	color: #4e4e4e;
}
.func-list {
	margin-top: 80px;
}
.func-list .list-content i {
	font: normal 400 30px icomoon;
	margin-right: 21px;
	padding-top: 7px;
}
.func-list .list-title {
	font: 20px/32px "Helvetica Neue", Arial, sans-serif;		
}
.func-list .list-intro {
	font: 16px/26px "Helvetica Neue", Arial, sans-serif;
	color: #838383;	
}
.list-content .list-l {
	width: 376px;
	height: 162px;
	margin-right: 160px;
}
.list-content .list-r {
	width: 366px;
	height: 162px;
}
.list-bottom {
	margin-left: -10px;
}
.middle-banner {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	max-width: 1600px;
	height: 800px;
	background-image: url('../images/m_banner_bg.png')
}
.middle-banner-text {
	box-sizing: border-box;
	padding-top: 183px;
	width: 360px;
	height: 555px;
}
.middle-banner-text .title {
	margin-bottom: 42px;
	font: 42px/52px Arial, sans-serif;
	color: #fff;			
}
.middle-banner-text .banner-intro {
	font: 18px/28px "Helvetica Neue", Arial, sans-serif;	
	color: #d0d2d0;		
}
#CheckoutFeatures {
	box-sizing: border-box;
	width: 240px;
	height: 60px;
	margin-right: 33px;
	border: 1px solid #fff;
	border-radius: 1px;
	background-color: #fff;
	color: #141414;
}
#CheckoutFeatures:hover {
	cursor: pointer;
}
#TryProduct {
	box-sizing: border-box;
	width: 240px;
	height: 60px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0);	
	color: #f6f6f6;
	border: 1px solid #6a6f69;
}
#TryProduct:hover {
	cursor: pointer;
}
.middle-banner .right-ipad {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 106px;
	padding-top: 30px;
	width: 45%;
	max-width: 644px;
	min-width: 400px;
	height: 602px;
	border: 1px solid #4f514c;
	border-radius: 30px 0 0 30px;
}
.right-ipad .ipad-screen {
	position: absolute;
	right: 0;
	width: 100%;
	max-width: 585px;
	min-width: 300px;
	height: 540px;
}
.product-intro {
	box-sizing: border-box;
	width: 100%;
	max-width: 1600px;
	height: 580px;
	padding-top: 95px;
	border-bottom: 1px solid #e7e7e7;
}
.product-intro .intro-title {
	margin-bottom: 90px;
	font: 42px/52px "Helvetica Neue", Arial, sans-serif;
	text-align: center;	
	color: #4e4e4e;	
}
.product-intro p {
	font: 16px/26px "Helvetica Neue", Arial, sans-serif;			
}
.product-intro .pro-intro-text {
	width: 252px;
	height: 284px;
	text-align: center;
}
.product-intro .pro-intro-text1 {
	width: 273px;
	height: 284px;
	margin-right: 78px;
	text-align: center;
}
.pro-intro-content img {
	margin-bottom: 38px;
}
.other-product-intro {
	box-sizing: border-box;
	width: 100%;
	max-width: 1600px;
	height: 1000px;
	border: 1px solid  #e7e7e7;
}
.other-product-intro .other-pro-title {
	margin-bottom: 28px;
	font: 20px/32px "Helvetica Neue", Arial, sans-serif;
	color: #141414;
}
.other-product-intro .other-pro-intro {
	font: 16px/28px "Helvetica Neue", Arial, sans-serif;
	color: #797979;
}
.other-product-intro .container-top {
	box-sizing: border-box;
	height: 544px;
	padding-top: 112px;
	padding-bottom: 80px;
}
.container-top .other-pro-text {
	width: 296px;
	padding-top: 76px;
}
.container-bottom .other-pro-text {
	width: 294px;
	padding-top: 68px;
}
.person-intro {
	box-sizing: border-box;
	width: 100%;
	max-height: 1600px;
	height: 1084px;
	border: 1px solid  #e7e7e7;
}
.person-intro .p-intro-title {
	box-sizing: border-box;
	padding-top: 112px;
	padding-bottom: 15px;
	font: 42px/52px "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	color: #141414;
}
.person-intro .p-intro-content {
	width: 702px;
	margin: 0 auto 68px;
	font: 18px/28px "Helvetica Neue", Arial, sans-serif;	
	text-align: center;
	color: #8e8e8e;
}
.person-intro .person-pic {
	width: 970px;
	height: 710px;
}
.person-intro .person-pic li{
	width: 470px;
	height: 340px;

}
.person-pic .person1 {
	margin-bottom: 30px;
	background-image: url('../images/person1.png');	
}
.person-pic .person2 {
	margin-bottom: 30px;
	background-image: url('../images/person2.png');	
}
.person-pic .person3 {
	background-image: url('../images/person3.png');	
}
.person-pic .person4 {
	background-image: url('../images/person4.png');	
}
.person-pic .person1:hover {
	background-image: url('../images/person1_hover.png');
	cursor: pointer;
}
.person-pic .person2:hover {
	background-image: url('../images/person2_hover.png');
	cursor: pointer;
}
.person-pic .person3:hover {
	background-image: url('../images/person3_hover.png');
	cursor: pointer;
}
.person-pic .person4:hover {
	background-image: url('../images/person4_hover.png');
	cursor: pointer;
}
.person-pic .person-name {
	font: 20px/32px "Helvetica Neue", Arial, sans-serif;	
	text-align: center;
	color: #fff;
}
.person-pic .person-mes {
	margin-bottom: 40px;
	font: 12px/28px "Helvetica Neue", Arial, sans-serif;	
	text-align: center;
	color: #adadad;
}
.person-pic a {
	display: inline-block;
	width: 56px;
	height: 56px;
	border: 1px solid #7f7f7f;
	border-radius: 50%;
	font: normal 400 23px/56px icomoon;
	text-align: center;
	color: #fff;
}
.person-pic .social-link {
	box-sizing: border-box;
	height: 150px;
	padding-bottom: 88px;
	overflow: hidden;
}
.person-pic .person1-hover {
	box-sizing: border-box;
	display: inline-block;
	width: 470px;
	height: 340px;
	padding-top: 108px;
	padding-left: 130px;
	padding-right: 130px;
}
.person-pic .twitter{
	margin-left: 10px;
	margin-right: 10px;
}
.contactus {
	box-sizing: border-box;
	width: 100%;
	max-width: 1600px;
	height: 700px;
	padding-top: 70px;
}
.email-form {
	box-sizing: border-box;
	width: 470px;
	height: 530px;
	padding-top: 50px;
	margin-right: 128px;
	border: 1px solid #d4d3d3;
	border-radius: 1px;
	text-align: center;
}
.email-form .form-caption {
	font: 16px/32px "Helvetica Neue", Arial, sans-serif;	
	padding-bottom: 48px;
	color: #141414;
}
.email-form input {
	box-sizing: border-box;
	width: 370px;
	height: 50px;
	padding-left: 22px;
	margin-bottom: 30px;
	color: #a7a7a7;
}
.email-form #send {
	margin-top: 30px;
	border: none;
	background-color: #000;
	color: #fff;	
}
.email-form #send:hover {
	cursor: pointer;
}
.email-form #message {
	box-sizing: border-box;
	width: 370px;
	height: 142px;
	padding-left: 22px;	
	padding-top: 20px;
	resize: none;
	color: #a7a7a7;	
}
.contactus .contactway {
	width: 348px;
	padding-top: 88px;
}
.contactus .title {
	padding-bottom: 35px;
	font: 42px/52px "Helvetica Neue", Arial, sans-serif;	
	color: #141414;
}
.contactus .contact-intro {
	padding-bottom: 55px;
	font: 16px/26px "Helvetica Neue", Arial, sans-serif;	
	color: #a0a0a0;
}
.contactway li {
	height: 65px;
}
.contactway i {
	width: 34px;
	height: 34px;
	margin-right: 14px;
	font: normal 400 22px/26px icomoon;	
	color: #6b6b6b;
}
.contactway p {
	font: 16px/26px "Helvetica Neue", Arial, sans-serif;	
}
.contactway .tel-num {
	box-sizing: border-box;
	padding-top: 5px;
}
footer {
	box-sizing: border-box;
	width: 100%;
	height: 410px;
	padding-top: 50px;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}
footer dt a {
	display: inline-block;
	margin-bottom: 36px;
	font: 14px "Helvetica Neue", Arial, sans-serif;	
	color: #fff;
}
footer dd a {
	display: inline-block;
	margin-bottom: 33px;
	font: 16px "Helvetica Neue", Arial, sans-serif;	
	color: #757575;
}
footer dl {
	width: 302px;
}
.friendlink {
	width: 262px;
}
.friendlink .title {
	margin-bottom: 28px;
	font: 14px "Helvetica Neue", Arial, sans-serif;	
}
.friendlink .content {
	font: 18px/28px "Helvetica Neue", Arial, sans-serif;
	color: #676767;		
}
.friendlink .social-link a {
	display: inline-block;
	margin-right: 22px;
	margin-top: 42px;
	font: normal 400 16px icomoon;	
	color: #5b5b5b;
}
.friendlink .social-link .linklinicon {
	margin-right: 0;
}