/*
* @Author: hujia
* @Date:   2018-05-13 20:12:47
* @Last Modified by:   hujia
* @Last Modified time: 2018-05-16 22:26:21
*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?axvffw');
  src:  url('../fonts/icomoon.eot?axvffw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?axvffw') format('truetype'),
    url('../fonts/icomoon.woff?axvffw') format('woff'),
    url('../fonts/icomoon.svg?axvffw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  font-family: icomoon;
	font-style: normal;
  cursor: pointer;
}
.fl {
	float: left;
}
.fr {
	float: right;
}